$backgroundColor: #eeeeee;

.overviewContainer {
  background-color: $backgroundColor;
  .postsHeader {
    padding: 20px 0;
    .addIcon {
      font-size: 2.5em;
    }
  }
  .newPost {
    border-radius: 2px;
    box-shadow: 2px 2px 2px 2px #c9cccd inset;
    margin-bottom: 20px;
    padding: 20px;
  }
  .post {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;

    .col {
      margin: auto;
      text-align: center;
    }
    .col-center {
      padding: 20px;
    }
    h2 {
      color: #363838;
      font-size: 18px;
      font-family: "open sans", sans-serif;
    }
    h2:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    .postText {
      color: #989c9e;
      font-size: 14px;
      font-family: "Open Sans Light", sans-serif;
      line-height: 25px;
    }
    .avatar {
      width: 30px;
      border-radius: 50%;
    }
    .postCount {
      background-color: #bdc3c7;
      border-radius: 2px;
      display: inline-block;
      padding: 12px 17px;
      color: #ffffff;
      font-size: 14px;
      font-family: "Open Sans Bold", sans-serif;
      position: relative;
      z-index: 5;
      margin-bottom: 20px;
    }
    .mark {
      width: 11px;
      height: 11px;
      background-color: #bdc3c7;
      position: absolute;
      bottom: 0;
      left: 43%;
      margin-bottom: -5px;
      transform: rotate(45deg);
      -ms-transform: rotate(45deg); /* IE 9 */
      -webkit-transform: rotate(45deg); /* Opera, Chrome, and Safari */

      z-index: 6;
    }
  }
}
