.overviewContainer {
  .postsNav {
    padding: 20px 0;
    .addIcon {
      font-size: 2.5em;
    }
  }
  .newPost {
    border-radius: 2px;
    box-shadow: 2px 2px 2px 2px #c9cccd inset;
    margin-bottom: 20px;
    padding: 20px;
  }
  .postsContainer {
    .postsHeader {
      .headerItem {
        // border-right: 1px solid black;
        // border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
        border-top: 2px dashed rgba(0, 0, 0, 0.2);
        margin-bottom: 1em;
        font-weight: bold;
      }
    }
    .noRightBorder {
      border-right: none;
    }
    .rightBorder {
      border-right: 1px solid black;
    }
  }
}
