.post-terminal {
  .row *:hover {
    // font-weight: bold;
    color: rgb(7, 246, 79);
  }
  .row {
    * {
      text-decoration: none;
      //   font-weight: bold;
      color: black;
    }
    // *:hover {
    //   font-weight: bold;
    // }
    .col {
      border-right: 1px solid black;
      border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
      *:hover {
        text-decoration: none;
        // font-weight: bold;
      }
    }
  }
}
