@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
$backgroundColor: #eeeeee;
body {
  //   font-family: consolas, "Liberation Mono", courier, monospace;
  //   font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: "Lucida Console", Monaco, monospace;
  // font-family: "Press Start 2P", cursive;
  // font-family: Arial, Helvetica, sans-serif;

  background-color: $backgroundColor;
}

.navbar {
  background: linear-gradient(
    90deg,
    rgba(41, 23, 184, 1) 0%,
    rgba(33, 167, 188, 1) 60%
  );
}
.navbar-brand {
  font-size: 0.5em;
}

.ascii-art {
  font-family: monospace;
  white-space: pre;
}

button,
h2 {
  font-family: "Press Start 2P", cursive;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar-brand {
    font-size: 0.4em;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-brand {
    font-size: 0.3em;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-brand {
    font-size: 0.25em;
  }
}
@media (max-width: 575.98px) {
  .navbar-brand {
    font-size: 0.2em;
  }
}
